# k create ns devops
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: httpd-deploy
  namespace: devops
spec:
  replicas: 3
  selector:
    matchLabels: 
      app: httpd
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 2
      maxSurge: 1
  template:
    metadata:
      labels: 
        app: httpd 
    spec:
      containers: 
      - name: httpd
        image: httpd:2.4.28 # change into 2.4.43
        ports:
        - containerPort: 80

apiVersion: v1
kind: Service 
metadata:
  name: httpd-service
  namespace: devops
spec:
  selector:
    app: httpd
  type: NodePort 
  ports: 
  - port: 80 
    targetPort: 80
    nodePort: 30008

# k rollout undo deployment httpd-deploy